
    body{
        background: darkgray;
    }

    /* box1 */
    .box1{
        display: flex;
        justify-content: center;
    }
    .box1 img{
        width: 275px;
        height: 150px;
        padding: 100px 5px 0 5px;
    }

    /* box2 */
    .box2{
        display: flex;
        justify-content: center;
    }
    .box2 img{
        width: 200px;
        height: 100px;
        padding: 10px 5px 0 5px;
    }